doctype html
html
  head
    meta(charset='utf-8')
    meta(content='width=device-width, initial-scale=1', name='viewport')

    title CSS Image Animator Performance Test
    link(href='assets/css/style.css?ts=#{Date.now()}', rel='stylesheet')
    script(src='assets/vendor/jquery/dist/jquery.min.js?ts=#{Date.now()}')
    script(src='assets/vendor/jquery.slide-animator/jquery.slide-animator.js?ts=#{Date.now()}')
    script(src='assets/js/script.js?ts=#{Date.now()}')
  body
    header
      h1 CSS Image Animator Performance Test
      input(id='moar',type='button',value='moaaaar')

    main
